absl-py==2.1.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
auto-py-to-exe==2.45.1
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
blobfile==3.0.0
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cocos2d==0.6.10
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
Eel==0.18.1
executing==2.1.0
fastjsonschema==2.21.1
filelock==3.16.1
fire==0.6.0
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.9.0
future==1.0.0
gast==0.6.0
gevent==24.11.1
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.25.0
idna==3.10
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.29.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.7.0
kiwisolver==1.4.7
libclang==18.1.1
llama_models==0.0.19
llama_stack==0.0.20
llama_toolchain==0.0.17
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.1
namex==0.0.8
nbclient==0.10.1
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
notebook-as-pdf==0.5.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.1
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
pandoc==2.4
pandocfilters==1.5.1
parso==0.8.4
pefile==2024.8.26
pillow==10.4.0
platformdirs==4.3.6
plumbum==1.9.0
ply==3.11
prompt_toolkit==3.0.47
protobuf==5.29.1
psutil==6.1.0
pure_eval==0.2.3
PyAudio==0.2.14
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic_core==2.23.4
pyee==11.1.1
pygame==2.6.0
pyglet==1.5.29
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.4
PyPDF2==3.0.1
pyppeteer==2.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.0
raylib==5.0.0.3
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
selenium==4.27.1
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stack-data==0.6.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.4.0
tk==0.1.0
tkcalendar==1.6.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.0
wsproto==1.2.0
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
